[submodule "LowRes NX Coder/LowRes NX Core"]
	path = LowRes NX Coder/LowRes NX Core
	url = github.com:moechofe/lowres-nx.git
	
[submodule "LowRes NX Coder/LowRes NX Core/"]
	url = git@github.com:moechofe/lowres-nx.git
